<h1>muhammad-taha works!</h1>
<h2>User Name is: {{ name }} user salary is: {{  salary }} & User Designation is: {{ designation}}</h2>

<button [disabled]="isDisabled">Click Me</button><br><br>

<!-- <input type="text" placeholder="Enter Text" (change)="onChange($event)"> -->
<h2>Input Value: {{inputVal}}</h2>
<input type="text" placeholder="Enter Text" [(ngModel)]="inputVal">


<div *ngFor="let user of users">
    <h2>Name:{{ user.name }} & Status {{ user.isSingle? "single":"coder" }} Salary: {{ user.salary }}</h2>
</div>
